<%= form_with model: @record, url: records_path, local: true do |f| %>

        <div class="field">
          <%= f.label :weight, "体重（kg）" %><br />
          <%= f.number_field :weight, autofocus: true, step: '0.1',class:'input_form' %>
        </div>

        <div class="field">
          <%= f.label :body_fat_percentage, "体脂肪率(%)" %><br />
          <%= f.number_field :body_fat_percentage, step: '0.1',class:'input_form' %>
        </div>

        <div class="field">
          <%= f.label :record_date, "投稿日" %><br />
          <%= f.date_select :record_date, autocomplete: "record_date" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>